[Desktop Entry]
Version=1.0
Name=WarMtH
GenericName=Ruijie Authentication in Linux
GenericName[zh_CN]=Linux锐捷认证
Exec=warmth
Terminal=false
Type=Application
Icon=warmth
Categories=Network;Qt;
commment=A GUI front-end of MentoHust
commment[zh_CN]=MentoHust的图形前端
